<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <link rel="icon" type="image/png" href="static/images/favicon0.png">
  <title>Home</title>
</head>
<body>
  <header class="header">
    <h1>HR Assistant</h1>
  </header>
  <main class="container">
    <p class="disclaimer">
      <img src="static/images/info-button.png" alt="Information" class="disclaimer_image">
      This is a prototype.Please use your data with caution! 
    </p>    
    <p class="description">Below you can upload a file, PDF only, input your hints (as-to-behave-instructions to the Assistant), and your question.
      Hit Ask Assistant and wait for your answer!</p>
      <br>
      <br>
    <section class="content">
      <br>
      <label for="fileInput" class="custom-file-input-label" id="fileInputLabel">
        <span>Upload files here</span>
      </label>
      <input type="file" id="fileInput" accept=".pdf" multiple onchange="updateFileName()" style="display: none;">
      <br>
      <label for="hints">Hints:</label>
      <textarea id="hints" rows="4" cols="50" placeholder="Enter hints here"></textarea>
      <label for="question">Question:</label>
      <textarea id="question" rows="4" cols="50" placeholder="Enter your question here"></textarea>
      
      <button onclick="askAssistant()">Ask Assistant</button>
      <button onclick="clearChat()">Clear Chat</button>
    </section>
    <div class="overlay">
        <div class="loading"></div>
    </div>
    
    <div class="response-container" id="response">
      <h3 class="assistant">Assistant Response will display here</h3>
      <section></section>
    </div>
    
  </main>

  <footer>
    <div class="button-container right-buttons">
      <form action="/logout" method="post">
        <button type="submit" id="logout">Logout</button>
      </form>
      <button type="button" id="github">
        <a href="https://github.com/Soni912108/hr_assistant" target="_blank" style="color: black; text-decoration: none; padding: 3px 7px;">GitHub Repo</a>
      </button>
    </div>

    <div class="button-container left-buttons">
      <button type="button" id="contact">Contact Support</button>
    </div>
    <form id="contact-form" style="display: none;">
      <h3 style="color: black; text-align:center;">Contact Form</h3>
      <input type="email" name="email" placeholder="Your Email">
      <textarea name="message" placeholder="Your Message"></textarea>
      <button type="submit" id="send">Send</button>
      <button type="button" id="cancel">Cancel</button>
    </form>
    <div class="paragraph-container">
      <p>&copy; 2024 HR Assistant. All rights reserved.</p>
      <p>Designed by <a href="https://salmon-desert-01cdea703.4.azurestaticapps.net/" target="_blank">Erdison Malko</a></p>
    </div>

  </footer>
  
  <script src="/static/js/script.js"></script>
</body>
</html>
