<nav id="navbar">
  <div>
    <img src="static/images/favicon.png" alt="logo" id="the_logo" style="width: 85px; 
      height: 60px;
      position: absolute;
      left: 3%;
      top: -0.5%;
      border: none;
    ">
  </div>
  
  <a id="nav_link_home" href="{{ url_for('home') }}">Home</a>
  <a id="nav_link_login" href="{{ url_for('login') }}">Login</a>
  <a id="nav_link_register" href="{{ url_for('register') }}">Register</a>
</nav>

<style>
  #navbar {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  /* Add a subtle box-shadow */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  /* Transition color and transform on hover */
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#navbar a:hover {
  color: #f7ca18; /* Yellow on hover */
  transform: scale(1.1); /* Slightly grow on hover */
}

/* Add a background animation (optional) */
#navbar {
  animation: background-move 5s linear infinite;
}

@keyframes background-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

</style>
